<html>
    <head>
        <title>{% block title %}Bank CRM{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/guepecrmbank/css/main.css') }}" type="text/css" media="all" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script> 
    
    
    </head>
    <body>
        <div id="page">
            <div id="header">
            	<a href="{{ path('AddAccount') }}"> <img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" > New Accounts</a> - 
            	<a href="{{ path('AddContact') }}"> <img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" > New Contact</a>
			</div>
		<div id="leftpane">
			<div id="menu">
				<ul id="menu">
				    <li><a href="{{ path('GuepeCrmBankBundle_homepage') }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/home.png') }}" > Accueil</a></li>
				    <li><a href="{{ path('AllAccounts') }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/account.png') }}" > Accounts</a></li>
				    <li><a href="{{ path('AllContacts') }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/man-woman.png') }}" > Contacts</a></li>                    
				</ul>
	        </div>
	        <hr width=80%>
        </div>
		<div id="centerpane">
				{% block warning %}
				{% 	endblock %}

            <div id="content">
                {% block content %}	
                {% endblock %}
            </div>
 		</div>
        </div>
        <div id="footer">
 	    	     <img src="{{ asset('bundles/guepecrmbank/images/new-logo.jpg') }}" alt="belspace"  height="30" />
                Tous droits réservés (c) 2011
        </div>
    </body>
</html>