{% extends 'GuepeCrmBankBundle::layout.html.twig' %}

{% block title %}Edit contacts{% endblock %}

{% block content %}
<script type="text/javascript">
	$(function(){
		// Datepicker
		$('#contact_birthdate').datepicker($.datepicker.regional["fr"]);
	});
</script>

		{% if message %}
		<p>{{ message }}</p>
		{% endif %}
		
		<form action="" method="post" {{ form_enctype(form) }}>
		<div class="headblock-element">

		<table>
			<tr>
				<td>{{ form_label(form.firstname) }}</td>
				<td>
					{{ form_errors(form.firstname) }}
				{{ form_widget(form.firstname) }}
				</td>
				<td>{{ form_label(form.lastname) }}</td>
				<td>
				
				{{ form_widget(form.lastname) }}
				{{ form_errors(form.lastname) }}
				</td>
		
				<td>{{ form_label(form.birthdate) }}</td>
				<td>
					{{ form_errors(form.birthdate) }}
				{{ form_widget(form.birthdate) }}
				</td>
				<td>{{ form_label(form.birthplace) }}</td>
				<td>
					{{ form_errors(form.birthplace) }}
				{{ form_widget(form.birthplace) }}
				</td>
			</tr>
			<tr>
				<td>{{ form_label(form.email) }}</td>
				<td>
					{{ form_errors(form.email) }}
				{{ form_widget(form.email) }}
				</td>
				<td>{{ form_label(form.gsm) }}</td>
				<td>
					{{ form_errors(form.gsm) }}
				{{ form_widget(form.gsm) }}
				</td>
				<td>{{ form_label(form.phone) }}</td>
				<td>
					{{ form_errors(form.phone) }}
				{{ form_widget(form.phone) }}
				</td>
				<td>{{ form_label(form.niss) }}</td>
				<td>
					{{ form_errors(form.niss) }}
				{{ form_widget(form.niss) }}
				</td>
			</tr>		    
		</table>
		</div>
		<br/>
		<div class="showcontact">
			{% form_theme form 'GuepeCrmBankBundle:Form:fields-in-row.html.twig' %}
		    {{ form_rest(form) }}
		</div>
		    <input type="submit" value="Enregistrer" />
		</form>		
{% endblock %}	