	{% for cat in contacts %}
		<div class="list-big-element">&nbsp;<img valign="middle"  src="{{ asset('bundles/guepecrmbank/images/icons/contact-list.png') }}" > {{ cat.lastname }} {{ cat.firstname }}    
			{% if account_id %}
					<a href="{{ path('AddContactToAccount',{'id': account_id ,'contact_id' : cat.id}) }}"><img valign="middle"  src="{{ asset('bundles/guepecrmbank/images/icons/link.png') }}" ></a>
			{% endif %}
					<a href=" {{path('ShowContact',{'id': cat.id}) }}"><img valign="middle"  src="{{ asset('bundles/guepecrmbank/images/icons/show.png') }}" ></a></td><td> <a href="{{ path('EditContact',{'id': cat.id}) }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/edit.png') }}" ></a></td>
		</div>
		<br/>
		<strong>Rue:</strong> {{ cat.streetnum }}
		<strong>Ville: </strong>{{ cat.city }}
	{% else %}
		{% block warning %}
		<div class="warning">Aucune contact n'a été trouvée.</div>
		{% endblock %}
	{% endfor %}
