{% extends 'GuepeCrmBankBundle::layout.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block content %}
		
<form id="form_recherche" action="{{ path('SearchContact') }}" method="post">
	<table><tr>
		<td>{{ form_label(form.lastname) }}</td>
		<td> {{ form_errors(form.lastname) }}
		{{ form_widget(form.lastname) }} </td>
		
		{{ form_rest(form) }}
	<td><input type="submit" value="Rechercher" /></td>
	</tr></table>
</form>

<div class="loading"></div>
<div id="resultats_recherche"> 
    {% include 'GuepeCrmBankBundle:Contact:list.html.twig' with {'contacts' : contacts}  %}
</div>
<script>
$(".loading").hide();
$("#form_recherche").submit(function(){ 
    $(".loading").show();
    var lastname = $("#contactsearch_lastname").val();
    var DATA = 'lastname=' + lastname;
    $.ajax({
        type: "POST",
        url: "{{ path('SearchContact')}}",
        data: DATA,
        cache: false,
        success: function(data){
           $('#resultats_recherche').html(data);
           $(".loading").hide();
        }
    });    
    return false;
});
</script>
		
{% endblock %}	