{% extends 'GuepeCrmBankBundle::layout.html.twig' %}


{% block title %}Edit/add des account{% endblock %}

{% block content %}

<script type="text/javascript">
	$(function(){
		// Datepicker
		$('#account_starting_date').datepicker($.datepicker.regional["fr"]);
		
		{% for contact in form.contacts %}
		$('#account_contacts_{{loop.index-1}}_birthdate').datepicker($.datepicker.regional["fr"]);
		$('#account_contacts_{{loop.index-1}}_income_date').datepicker($.datepicker.regional["fr"]);
		{% endfor %}
		
		{% for creditproduct in form.creditproduct %}
		$('#account_creditproduct_{{loop.index-1}}_startdate').datepicker($.datepicker.regional["fr"]);
		$('#account_creditproduct_{{loop.index-1}}_enddate').datepicker($.datepicker.regional["fr"]);
		{% endfor %}
		
		{% for fiscalproduct in form.fiscalproduct %}
		$('#account_fiscalproduct_{{loop.index-1}}_startdate').datepicker($.datepicker.regional["fr"]);
		$('#account_fiscalproduct_{{loop.index-1}}_enddate').datepicker($.datepicker.regional["fr"]);
		$('#account_fiscalproduct_{{loop.index-1}}_reservedate').datepicker($.datepicker.regional["fr"]);
		{% endfor %}

		{% for savingsproduct in form.savingsproduct %}
		$('#account_savingsproduct_{{loop.index-1}}_startdate').datepicker($.datepicker.regional["fr"]);
		$('#account_savingsproduct_{{loop.index-1}}_enddate').datepicker($.datepicker.regional["fr"]);
		$('#account_savingsproduct_{{loop.index-1}}_reservedate').datepicker($.datepicker.regional["fr"]);
		{% endfor %}
		
	});
	
</script>


{% if message %}
<p>
	{{ message }}
</p>
{% endif %}
<div id="showaccount">
	<form action="" method="post" {{ form_enctype(form) }}>
		<div class="headblock-element">
			<table>
			<tr>
				<td>{{ form_label(form.name) }}</td>
				<td> {{ form_errors(form.name) }}
				{{ form_widget(form.name) }} </td>
				<td>{{ form_label(form.company_statut) }}</td>
				<td> {{ form_errors(form.company_statut) }}
				{{ form_widget(form.company_statut) }} </td>
				<td>{{ form_label(form.type) }}</td>
				<td> {{ form_errors(form.type) }}
				{{ form_widget(form.type) }} </td>
				<td>{{ form_label(form.starting_date) }}</td>
				<td> {{ form_errors(form.starting_date) }}
				{{ form_widget(form.starting_date) }}
				</td>
				<td>{{ form_label(form.otherbank) }}</td>
				<td> {{ form_errors(form.otherbank) }}
				{{ form_widget(form.otherbank) }}
				</td>
			</tr>
			<tr>
				<td>{{ form_label(form.streetnum) }}</td>
				<td colspan="3"> {{ form_errors(form.streetnum) }}
				{{ form_widget(form.streetnum) }} </td>
				<td>{{ form_label(form.zip) }}</td>
				<td> {{ form_errors(form.zip) }}
				{{ form_widget(form.zip) }} </td>
				<td>{{ form_label(form.city) }}</td>
				<td> {{ form_errors(form.city) }}
				{{ form_widget(form.city) }} </td>
				<td>{{ form_label(form.country) }}</td>
				<td > {{ form_errors(form.country) }}
				{{ form_widget(form.country) }}
				</td>
			</tr>
			<tr>
				<td>{{ form_label(form.notes) }}</td>
				<td colspan="7"> {{ form_errors(form.notes) }}
				{{ form_widget(form.notes) }} </td>
			</tr>
		</table>

		</div>
		<h2>Contacts <a href="{{ path('SelectContact',{'account_id': account.id }) }}"><img valign="middle"  src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		{% for contact in form.contacts %}
		<div
		{% if loop.index % 2 %} 
				id="line1"	
			{%else%}
				id="line2"
			{% endif %}
		>

		{% form_theme form 'GuepeCrmBankBundle:Form:fields-in-row.html.twig' %}

		{{ form_row(contact)}}
		</div>
		<hr class="list-separator">
		{% endfor %} 
		<h2>Produits Banquaires <a href="{{ path('bankproduct_create',{'account_id': account.id}) }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		{% for bankproduct in form.bankproduct %}
		<div class="products_row"
		{% if loop.index % 2 %} 
				id="line1"	
			{%else%}
				id="line2"
			{% endif %}
		>		
			{% form_theme form 'GuepeCrmBankBundle:Form:fields-in-row.html.twig' %}
			
			{{ form_row(bankproduct) }}
		</div>
	
		{% endfor %}

		<h2>Produits Crédit <a href="{{ path('creditproduct_create',{'account_id': account.id}) }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		{% for creditproduct in form.creditproduct %}
		<div class="products_row"
		{% if loop.index % 2 %} 
				id="line1"	
			{%else%}
				id="line2"
			{% endif %}
		>
			{% form_theme form 'GuepeCrmBankBundle:Form:fields-in-row.html.twig' %}

			{{ form_row(creditproduct) }}

		</div>
		{% endfor %}	
		<h2>Produits Fiscaux <a href="{{ path('fiscalproduct_create',{'account_id': account.id}) }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		{% for fiscalproduct in form.fiscalproduct %}
		<div class="products_row"
		{% if loop.index % 2 %} 
				id="line1"	
			{%else%}
				id="line2"
			{% endif %}
		>
			{{ form_row(fiscalproduct) }}

		</div>
		{% endfor %}	
		<h2>Produits Epargne <a href="{{ path('savingsproduct_create',{'account_id': account.id}) }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		{% for savingsproduct in form.savingsproduct %}
		<div class="products_row"
		{% if loop.index % 2 %} 
				id="line1"	
			{%else%}
				id="line2"
			{% endif %}
		>
			{{ form_row(savingsproduct) }}

		</div>
		{% endfor %}	
		<span class="hidden">					
		{{ form_rest(form) }}
		</span>
		<input type="submit" value="Enregistrer" />
	</form>

</div>
{% endblock %} 