{% extends 'GuepeCrmBankBundle::layout.html.twig' %}


{% block title %}Edit/add des account{% endblock %}

{% block content %}

<script type="text/javascript">
	$(function(){
		// Datepicker
		$('#account_starting_date').datepicker($.datepicker.regional["fr"]);
		
		{% for contact in form.contacts %}
		$('#account_contacts_{{loop.index-1}}_birthdate').datepicker($.datepicker.regional["fr"]);
		$('#account_contacts_{{loop.index-1}}_income_date').datepicker($.datepicker.regional["fr"]);
		{% endfor %}
		
		{% for creditproduct in form.creditproduct %}
		
		$('#account_creditproduct_{{loop.index-1}}_startdate').datepicker($.datepicker.regional["fr"]);
		$('#account_creditproduct_{{loop.index-1}}_enddate').datepicker($.datepicker.regional["fr"]);
		$('#account_creditproduct_{{loop.index-1}}_paymentdate').datepicker($.datepicker.regional["fr"]);
		
		{% endfor %}
		
		{% for fiscalproduct in form.fiscalproduct %}
		
		$('#account_fiscalproduct_{{loop.index-1}}_startdate').datepicker($.datepicker.regional["fr"]);
		$('#account_fiscalproduct_{{loop.index-1}}_enddate').datepicker($.datepicker.regional["fr"]);
		$('#account_fiscalproduct_{{loop.index-1}}_paymentdate').datepicker($.datepicker.regional["fr"]);
		$('#account_fiscalproduct_{{loop.index-1}}_reservedate').datepicker($.datepicker.regional["fr"]);

		{% endfor %}
		{% for savingsproduct in form.savingsproduct %}
		
		$('#account_savingsproduct_{{loop.index-1}}_startdate').datepicker($.datepicker.regional["fr"]);
		$('#account_savingsproduct_{{loop.index-1}}_enddate').datepicker($.datepicker.regional["fr"]);
		$('#account_savingsproduct_{{loop.index-1}}_paymentdate').datepicker($.datepicker.regional["fr"]);
		$('#account_savingsproduct_{{loop.index-1}}_reservedate').datepicker($.datepicker.regional["fr"]);

		{% endfor %}
		
	});
	
</script>


{% if message %}
<p>
	{{ message }}
</p>
{% endif %}
<div id="showaccount">
	<form action="" method="post" {{ form_enctype(form) }}>
		<div class="headblock-element">
			<table>
			<tr>
				<td>{{ form_label(form.name) }}</td>
				<td> {{ form_errors(form.name) }}
				{{ form_widget(form.name) }} </td>
				<td>{{ form_label(form.company_statut) }}</td>
				<td> {{ form_errors(form.company_statut) }}
				{{ form_widget(form.company_statut) }} </td>
				<td>{{ form_label(form.type) }}</td>
				<td> {{ form_errors(form.type) }}
				{{ form_widget(form.type) }} </td>
				<td>{{ form_label(form.starting_date) }}</td>
				<td> {{ form_errors(form.starting_date) }}
				{{ form_widget(form.starting_date) }}
				</td>
				<td>{{ form_label(form.otherbank) }}</td>
				<td> {{ form_errors(form.otherbank) }}
				{{ form_widget(form.otherbank) }}
				</td>
			</tr>
			<tr>
				<td>{{ form_label(form.streetnum) }}</td>
				<td colspan="3"> {{ form_errors(form.streetnum) }}
				{{ form_widget(form.streetnum) }} </td>
				<td>{{ form_label(form.zip) }}</td>
				<td> {{ form_errors(form.zip) }}
				{{ form_widget(form.zip) }} </td>
				<td>{{ form_label(form.city) }}</td>
				<td> {{ form_errors(form.city) }}
				{{ form_widget(form.city) }} </td>
				<td>{{ form_label(form.country) }}</td>
				<td > {{ form_errors(form.country) }}
				{{ form_widget(form.country) }}
				</td>
			</tr>
			<tr>
				<td>{{ form_label(form.notes) }}</td>
				<td colspan="7"> {{ form_errors(form.notes) }}
				{{ form_widget(form.notes) }} </td>
			</tr>
		</table>

		</div>
		<h2>Contacts <a href="{{ path('SelectContact',{'account_id': account.id }) }}"><img valign="middle"  src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		{% for contact in form.contacts %}
		<div
		{% if loop.index % 2 %} 
				id="line1"	
			{%else%}
				id="line2"
			{% endif %}
		>
		<table>
			<tr>
				<td>{{ form_label(contact.firstname) }}</td>
				<td> {{ form_errors(contact.firstname) }}
				{{ form_widget(contact.firstname) }} </td>
				<td>{{ form_label(contact.lastname) }}</td>
				<td> {{ form_errors(contact.lastname) }}
				{{ form_widget(contact.lastname) }} </td>
				<td>{{ form_label(contact.birthdate) }}</td>
				<td> {{ form_errors(contact.birthdate) }}
				{{ form_widget(contact.birthdate) }} </td>
				<td>{{ form_label(contact.birthplace) }}</td>
				<td> {{ form_errors(contact.birthplace) }}
				{{ form_widget(contact.birthplace) }} </td>
			</tr>
			<tr>
				<td>{{ form_label(contact.email) }}</td>
				<td> {{ form_errors(contact.email) }}
				{{ form_widget(contact.email) }} </td>
				<td>{{ form_label(contact.gsm) }}</td>
				<td> {{ form_errors(contact.gsm) }}
				{{ form_widget(contact.gsm) }} </td>
				<td>{{ form_label(contact.phone) }}</td>
				<td> {{ form_errors(contact.phone) }}
				{{ form_widget(contact.phone) }} </td>
				<td>{{ form_label(contact.niss) }}</td>
				<td> {{ form_errors(contact.niss) }}
				{{ form_widget(contact.niss) }} </td>
			</tr>
		</table>
		<hr>
		<table>
			<tr>
				<td>{{ form_label(contact.street_num) }}</td>
				<td> {{ form_errors(contact.street_num) }}
				{{ form_widget(contact.street_num) }} </td>
				<td>{{ form_label(contact.city) }}</td>
				<td> {{ form_errors(contact.city) }}
				{{ form_widget(contact.city) }} </td>
				<td>{{ form_label(contact.zip) }}</td>
				<td> {{ form_errors(contact.zip) }}
				{{ form_widget(contact.zip) }} </td>
				<td>{{ form_label(contact.country) }}</td>
				<td> {{ form_errors(contact.country) }}
				{{ form_widget(contact.country) }} </td>
			</tr>
		</table>
		<table>
			<tr>
				<td>{{ form_label(contact.eid) }}</td>
				<td> {{ form_errors(contact.eid) }}
				{{ form_widget(contact.eid) }} </td>
				<td>{{ form_label(contact.marital_status) }}</td>
				<td> {{ form_errors(contact.marital_status) }}
				{{ form_widget(contact.marital_status) }} </td>
				</table
				<table>
					<td>{{ form_label(contact.income_amount) }}</td>
					<td> {{ form_errors(contact.income_amount) }}
					{{ form_widget(contact.income_amount) }} </td>
					<td>{{ form_label(contact.income_recurence) }}</td>
					<td> {{ form_errors(contact.income_recurence) }}
					{{ form_widget(contact.income_recurence) }} </td>
					<td>{{ form_label(contact.income_date) }}</td>
					<td> {{ form_widget(contact.income_date) }}
					{{ form_errors(contact.income_date) }} </td>
			</tr>
		</table>
		</div>
		{% endfor %} 
		<h2>Produits Banquaires <a href="{{ path('bankproduct_create',{'account_id': account.id}) }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		{% for bankproduct in form.bankproduct %}
		<div class="products_row"
		{% if loop.index % 2 %} 
				id="line1"	
			{%else%}
				id="line2"
			{% endif %}
		>		
			{% form_theme form 'GuepeCrmBankBundle:Form:fields-in-row.html.twig' %}
			
			{{ form_row(bankproduct) }}
		</div>
	
		{% endfor %}

		<h2>Produits Crédit <a href="{{ path('creditproduct_create',{'account_id': account.id}) }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		{% for creditproduct in form.creditproduct %}
		<div class="products_row"
		{% if loop.index % 2 %} 
				id="line1"	
			{%else%}
				id="line2"
			{% endif %}
		>
			{{ form_row(creditproduct) }}

		</div>
		{% endfor %}	
		<h2>Produits Fiscaux <a href="{{ path('fiscalproduct_create',{'account_id': account.id}) }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		{% for fiscalproduct in form.fiscalproduct %}
		<div class="products_row"
		{% if loop.index % 2 %} 
				id="line1"	
			{%else%}
				id="line2"
			{% endif %}
		>
			{{ form_row(fiscalproduct) }}

		</div>
		{% endfor %}	
		<h2>Produits Epargne <a href="{{ path('savingsproduct_create',{'account_id': account.id}) }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		{% for savingsproduct in form.savingsproduct %}
		<div class="products_row"
		{% if loop.index % 2 %} 
				id="line1"	
			{%else%}
				id="line2"
			{% endif %}
		>
			{{ form_row(savingsproduct) }}

		</div>
		{% endfor %}						
		{{ form_rest(form) }}
		<input type="submit" value="Enregistrer" />
	</form>

</div>
{% endblock %} 