{% extends 'GuepeCrmBankBundle::layout.html.twig' %}


{% block title %}Edit/add des account{% endblock %}

{% block content %}

<script type="text/javascript">
	$(function(){
		// Datepicker
		$('#account_starting_date').datepicker($.datepicker.regional["fr"]);
	});
</script>


{% if message %}
<p>
	{{ message }}
</p>
{% endif %}
<div id="showaccount">
	<form action="" method="post" {{ form_enctype(form) }}>
		<div class="headblock-element">
			<table>
			<tr>
				<td>{{ form_label(form.name) }}</td>
				<td> {{ form_errors(form.name) }}
				{{ form_widget(form.name) }} </td>
				<td>{{ form_label(form.company_statut) }}</td>
				<td> {{ form_errors(form.company_statut) }}
				{{ form_widget(form.company_statut) }} </td>
				<td>{{ form_label(form.type) }}</td>
				<td> {{ form_errors(form.type) }}
				{{ form_widget(form.type) }} </td>
				<td>{{ form_label(form.starting_date,"Début de la relation") }}</td>
				<td> {{ form_errors(form.starting_date) }}
				{{ form_widget(form.starting_date,{ 'attr': {'class': 'datepicker'} }) }}
				</td>
			</tr>
			<tr>
				<td>{{ form_label(form.notes) }}</td>
				<td colspan="7"> {{ form_errors(form.notes) }}
				{{ form_widget(form.notes) }} </td>
			</tr>
		</table>

		</div>
		<h2>Contacts <a href="{{ path('SelectContact',{'account_id': account.id }) }}"><img valign="middle"  src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		{% for contact in form.contacts %}
		<div
		{% if loop.index % 2 %} 
				id="line1"	
			{%else%}
				id="line2"
			{% endif %}
		>
		<table>
			<tr>
				<td>{{ form_label(contact.firstname) }}</td>
				<td> {{ form_errors(contact.firstname) }}
				{{ form_widget(contact.firstname) }} </td>
				<td>{{ form_label(contact.lastname) }}</td>
				<td> {{ form_errors(contact.lastname) }}
				{{ form_widget(contact.lastname) }} </td>
				<td>{{ form_label(contact.birthdate) }}</td>
				<td> {{ form_errors(contact.birthdate) }}
				{{ form_widget(contact.birthdate) }} </td>
				<td>{{ form_label(contact.birthplace) }}</td>
				<td> {{ form_errors(contact.birthplace) }}
				{{ form_widget(contact.birthplace) }} </td>
			</tr>
			<tr>
				<td>{{ form_label(contact.email) }}</td>
				<td> {{ form_errors(contact.email) }}
				{{ form_widget(contact.email) }} </td>
				<td>{{ form_label(contact.gsm) }}</td>
				<td> {{ form_errors(contact.gsm) }}
				{{ form_widget(contact.gsm) }} </td>
				<td>{{ form_label(contact.phone) }}</td>
				<td> {{ form_errors(contact.phone) }}
				{{ form_widget(contact.phone) }} </td>
				<td>{{ form_label(contact.niss) }}</td>
				<td> {{ form_errors(contact.niss) }}
				{{ form_widget(contact.niss) }} </td>
			</tr>
		</table>
		<hr>
		<table>
			<tr>
				<td>{{ form_label(contact.street_num) }}</td>
				<td> {{ form_errors(contact.street_num) }}
				{{ form_widget(contact.street_num) }} </td>
				<td>{{ form_label(contact.city) }}</td>
				<td> {{ form_errors(contact.city) }}
				{{ form_widget(contact.city) }} </td>
				<td>{{ form_label(contact.zip) }}</td>
				<td> {{ form_errors(contact.zip) }}
				{{ form_widget(contact.zip) }} </td>
				<td>{{ form_label(contact.country) }}</td>
				<td> {{ form_errors(contact.country) }}
				{{ form_widget(contact.country) }} </td>
			</tr>
		</table>
		<table>
			<tr>
				<td>{{ form_label(contact.eid) }}</td>
				<td> {{ form_errors(contact.eid) }}
				{{ form_widget(contact.eid) }} </td>
				<td>{{ form_label(contact.marital_status) }}</td>
				<td> {{ form_errors(contact.marital_status) }}
				{{ form_widget(contact.marital_status) }} </td>
				</table
				<table>
					<td>{{ form_label(contact.income_amount) }}</td>
					<td> {{ form_errors(contact.income_amount) }}
					{{ form_widget(contact.income_amount) }} </td>
					<td>{{ form_label(contact.income_recurence) }}</td>
					<td> {{ form_errors(contact.income_recurence) }}
					{{ form_widget(contact.income_recurence) }} </td>
					<td>{{ form_label(contact.income_date) }}</td>
					<td> {{ form_widget(contact.income_date) }}
					{{ form_errors(contact.income_date) }} </td>
			</tr>
		</table>
		
		</div>
		{% endfor %} 
		<h2>Produits Banquaires <a href="{{ path('bankproduct_create',{'account_id': account.id}) }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		{% for bankproduct in form.bankproduct %}
		<div
		{% if loop.index % 2 %} 
				id="line1"	
			{%else%}
				id="line2"
			{% endif %}
		>
		<table>
			<tr>
			<td>{{ form_label(bankproduct.name) }}</td>
			<td> {{ form_errors(bankproduct.name) }}
			{{ form_widget(bankproduct.name) }} </td>
			<td>{{ form_label(bankproduct.number) }}</td>
			<td> {{ form_errors(bankproduct.number) }}
			{{ form_widget(bankproduct.number) }} </td>
			<td>{{ form_label(bankproduct.amount) }}</td>
			<td> {{ form_errors(bankproduct.amount) }}
			{{ form_widget(bankproduct.amount) }} </td>
			<td>{{ form_label(bankproduct.type) }}</td>
			<td> {{ form_widget(bankproduct.type) }}
			{{ form_errors(bankproduct.type) }} </td>
			</tr>
		</table>
		</div>
		{% endfor %}
		<h2>Produits Crédit <a href="{{ path('creditproduct_create',{'account_id': account.id}) }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		{% for creditproduct in form.creditproduct %}
		<div
		{% if loop.index % 2 %} 
				id="line1"	
			{%else%}
				id="line2"
			{% endif %}
		>
		<table>
			<tr>
			<td>{{ form_label(creditproduct.name) }}</td>
			<td> {{ form_errors(creditproduct.name) }}
			{{ form_widget(creditproduct.name) }} </td>
			<td>{{ form_label(creditproduct.Type) }}</td>
			<td> {{ form_widget(creditproduct.Type) }}
			{{ form_errors(creditproduct.Type) }} </td>
			<td>{{ form_label(creditproduct.Garantee) }}</td>
			<td> {{ form_widget(creditproduct.Garantee) }}
			{{ form_errors(creditproduct.Garantee) }} </td>
			<td>{{ form_label(creditproduct.GaranteeStart) }}</td>
			<td> {{ form_widget(creditproduct.GaranteeStart) }}
			{{ form_errors(creditproduct.GaranteeStart) }} </td>
			<td>{{ form_label(creditproduct.Variability) }}</td>
			<td> {{ form_widget(creditproduct.Variability) }}
			{{ form_errors(creditproduct.Variability) }} </td>
			</tr>
			<tr>
			<td>{{ form_label(creditproduct.Number) }}</td>
			<td> {{ form_widget(creditproduct.Number) }}
			{{ form_errors(creditproduct.Number) }} </td>

			<td>{{ form_label(creditproduct.Purpose) }}</td>
			<td> {{ form_widget(creditproduct.Purpose) }}
			{{ form_errors(creditproduct.Purpose) }} </td>
			</tr>
		</table>
		</div>
		{% endfor %}	
		<h2>Produits Fiscaux <a href="{{ path('fiscalproduct_create',{'account_id': account.id}) }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		{% for fiscalproduct in form.fiscalproduct %}
		<div
		{% if loop.index % 2 %} 
				id="line1"	
			{%else%}
				id="line2"
			{% endif %}
		>
		<table>
			<tr>
			<td>{{ form_label(fiscalproduct.name) }}</td>
			<td> {{ form_errors(fiscalproduct.name) }}
			{{ form_widget(fiscalproduct.name) }} </td>
			<td>{{ form_label(fiscalproduct.Type) }}</td>
			<td> {{ form_widget(fiscalproduct.Type) }}
			{{ form_errors(fiscalproduct.Type) }} </td>
			<td>{{ form_label(fiscalproduct.RevisionDate) }}</td>
			<td> {{ form_errors(fiscalproduct.RevisionDate) }}
			{{ form_widget(fiscalproduct.RevisionDate) }} </td>
			<td>{{ form_label(fiscalproduct.UniquePrimeAmount) }}</td>
			<td> {{ form_errors(fiscalproduct.UniquePrimeAmount) }}
			{{ form_widget(fiscalproduct.UniquePrimeAmount) }} </td>
			</tr>
			<tr>
			<td>{{ form_label(fiscalproduct.UniquePrimeDate) }}</td>
			<td> {{ form_errors(fiscalproduct.UniquePrimeDate) }}
			{{ form_widget(fiscalproduct.UniquePrimeDate) }} </td>
			<td>{{ form_label(fiscalproduct.RecurrentPrimeAmount) }}</td>
			<td> {{ form_errors(fiscalproduct.RecurrentPrimeAmount) }}
			{{ form_widget(fiscalproduct.RecurrentPrimeAmount) }} </td>
			<td>{{ form_label(fiscalproduct.CapitalTerme) }}</td>
			<td> {{ form_errors(fiscalproduct.CapitalTerme) }}
			{{ form_widget(fiscalproduct.CapitalTerme) }} </td>
			<td>{{ form_label(fiscalproduct.Reserve) }}</td>
			<td> {{ form_errors(fiscalproduct.Reserve) }}
			{{ form_widget(fiscalproduct.Reserve) }} </td>
			</tr>
			<tr>
			<td>{{ form_label(fiscalproduct.ReserveDate) }}</td>
			<td> {{ form_errors(fiscalproduct.ReserveDate) }}
			{{ form_widget(fiscalproduct.ReserveDate) }} </td>
			</tr>
		</table>
		</div>
		{% endfor %}	
		<h2>Produits Epargne <a href="{{ path('savingsproduct_create',{'account_id': account.id}) }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		{% for savingsproduct in form.savingsproduct %}
		<div
		{% if loop.index % 2 %} 
				id="line1"	
			{%else%}
				id="line2"
			{% endif %}
		>
		<table>
			<tr>
			<td>{{ form_label(savingsproduct.name) }}</td>
			<td> {{ form_errors(savingsproduct.name) }}
			{{ form_widget(savingsproduct.name) }} </td>
			<td>{{ form_label(savingsproduct.Type) }}</td>
			<td> {{ form_widget(savingsproduct.Type) }}
			{{ form_errors(savingsproduct.Type) }} </td>
			<td>{{ form_label(savingsproduct.RevisionDate) }}</td>
			<td> {{ form_widget(savingsproduct.RevisionDate) }}
			{{ form_errors(savingsproduct.RevisionDate) }} </td>

			<td>{{ form_label(savingsproduct.RecurrentPrimeAmount) }}</td>
			<td> {{ form_widget(savingsproduct.RecurrentPrimeAmount) }}
			{{ form_errors(savingsproduct.RecurrentPrimeAmount) }} </td>
			</tr>
			<tr>
			<td>{{ form_label(savingsproduct.Reserve) }}</td>
			<td> {{ form_errors(savingsproduct.Reserve) }}
			{{ form_widget(savingsproduct.Reserve) }} </td>
			<td>{{ form_label(savingsproduct.ReserveDate) }}</td>
			<td> {{ form_errors(savingsproduct.ReserveDate) }}
			{{ form_widget(savingsproduct.ReserveDate) }} </td>
			</tr>
			<tr>
			<td>{{ form_label(savingsproduct.Description) }}</td>
			<td> {{ form_errors(savingsproduct.Description) }}
			{{ form_widget(savingsproduct.Description) }} </td>
				
			</tr>
		</table>
		</div>
		{% endfor %}						
		{{ form_rest(form) }}
		<input type="submit" />
	</form>

</div>
{% endblock %} 