{% extends 'GuepeCrmBankBundle::layout.html.twig' %}

{% block title %}Gestion des comptes{% endblock %}
		
{% block warning %}
	{% if message %}
		<div class="warning">{{ message }}</div>
	{% endif %}
{% 	endblock %}

{% block content %}

{% if account|length > 0 %}		
		<div id="showaccount"> 
		<div class="headblock-element">
		<h1>{{account.name}}<a href="{{ path('EditAccount',{'id': account.id}) }}"><img valign="middle"  src="{{ asset('bundles/guepecrmbank/images/icons/edit.png') }}" ></a></h1>

		<br/> {{account.type}} {{account.companyStatut}} {{ account.startingdate|date('d/m/Y') }}
		<br/> {{account.notes}}
		</div>
		<br/>
		<div id="accordion">

		<h2>Contacts <a href="{{ path('SelectContact',{'account_id': account.id }) }}"><img valign="middle"  src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		{% for contact in account.contacts %}
			<div
			{% if loop.index % 2 %} 
				id="line1"	
			{%else%}
				id="line2"
			{% endif %}
			>{{contact.firstname}} {{contact.lastname}} <a href=" {{path('ShowContact',{'id': contact.id}) }}"><img valign="middle"  src="{{ asset('bundles/guepecrmbank/images/icons/show.png') }}" ></a>
			<a href=" {{path('DeleteContact',{'id':account.id,'contact_id': contact.id}) }}" onclick="return confirm('Etes vous sur ? ');"><img valign="middle"  src="{{ asset('bundles/guepecrmbank/images/icons/delete.png') }}" ></a>
			</div>
		{% else %}
			<p>Aucune contacts n'a été trouvé.</p>
		{% endfor %}
		<h2>Produits Banquaires <a href="{{ path('bankproduct_create',{'account_id': account.id}) }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		<table class="product-show-table">
			<tr class="product-show-label">
				<th>Type:</th>
				<th>Références:</th>
				<th>Numéro de compte:</th>
				<th>Organisme: </th>
				<th>Montant: </th>
				<th>Notes: </th>
				<th>Taux d'intérêt: </th>
				<th>Description: </th>
				<th></th>
			</tr>
		{% for bankproduct in account.bankproduct %}
			<tr 
			{% if loop.index % 2 %} 
				id="line1"				
			{%else%}
				id="line2"
			{% endif %}
			>
				<td>{{bankproduct.type }}</td>
				<td>{{bankproduct.references }}</td>
				<td>{{bankproduct.number }}</td>
				<td>{{bankproduct.company }}</td>
				<td>{{bankproduct.amount }}</td>
				<td>{{bankproduct.notes }}</td>
				<td>{{bankproduct.tauxinteret }}</td>
				<td> {{bankproduct.description }}</td>
				<td><a href="{{path('DeleteProduct',{'id':account.id,'product_id': bankproduct.id}) }}" onclick="return confirm('Etes vous sur ? ');"><img valign="middle"  src="{{ asset('bundles/guepecrmbank/images/icons/delete.png') }}" ></a></td>
			</tr>
		{% else %}
			<tr><td colspan="9" class="no_data">Aucun Produits Bancaires n'a été trouvé.</td></tr>
		{% endfor %}
		</table>
		<h2>Produits Crédit <a href="{{ path('creditproduct_create',{'account_id': account.id}) }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		<table class="product-show-table">
			<tr class="product-show-label">
				<th>Type:</th> 
				<th>Références:</th> 
				<th>Numéro de compte:</th>
				<th>Organisme: </th> 
				<th>Montant: </th> 
				<th>Date de début: </th>
				<th>Date de fin: </th>
				<th>Notes: </th> 
				<th>Montant mensualité: </th> 
				<th>Taux d'intérêt: </th> 
				<th>Durée: </th> 
				<th>Variabilité: </th> 
				<th>Garantie: </th> 
				<th>But: </th> 
				<th>Description:  </th> 
				<th>Date de paiement: </th>
				<th></th>
			</tr>
		{% for creditproduct in account.creditproduct %}
			<tr
			{% if loop.index % 2 %} 
				id="line1"				
			{%else%}
				id="line2"
			{% endif %}
			>
				<td> {{creditproduct.type }}</td>
				<td> {{creditproduct.references }}</td>
				<td> {{creditproduct.number }}</td>
				<td>{{creditproduct.company }}</td>
				<td>{{creditproduct.amount }}</td>
				<td>{{creditproduct.startdate|date('d/m/Y') }}</td>
				<td>{{creditproduct.enddate|date('d/m/Y') }}</td>
				<td>{{creditproduct.notes }}</td>
				<td>{{creditproduct.recurrentprimeamount }}</td>
				<td>{{creditproduct.tauxinteret }}</td>
				<td> {{creditproduct.duration }}</td>
				<td>{{creditproduct.variability }}</td>
				<td>{{creditproduct.garantee }}</td>
				<td>{{creditproduct.purpose }}</td>
				<td>{{creditproduct.description }}</td>
				<td>{{creditproduct.paymentdate }}</td>
				<td><a href=" {{path('DeleteProduct',{'id':account.id,'product_id': creditproduct.id}) }}" onclick="return confirm('Etes vous sur ? ');"><img valign="middle"  src="{{ asset('bundles/guepecrmbank/images/icons/delete.png') }}" ></a></td>

			</tr>
		{% else %}
			<tr><td colspan="17" class="no_data">Aucune Produits Crédits n'a été trouvé.</td></tr>
		{% endfor %}
		</table>
		<h2>Produits Fiscal <a href="{{ path('fiscalproduct_create',{'account_id': account.id}) }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		<table class="product-show-table">
			<tr class="product-show-label">
				<th>Type:</th> 
				<th>Références:</th> 
				<th>Numéro de compte:</th> 
				<th>Organisme: </th> 
				<th>Date de début: </th> 
				<th>Date de fin: </th> 
				<th>Notes: </th> 
				<th>Montant prime annuelle: </th> 
				<th>Taux d'intérêt: </th>
				<th>Garantie: </th> 
				<th>Description:  </th> 
				<th>Date de paiement: </th> 
				<th>Reserve:  </th>
				<th>Date de réserve: </th> 
				<th></th>
			</tr>
		{% for fiscalproduct in account.fiscalproduct %}
			<tr
			{% if loop.index % 2 %} 
				id="line1"				
			{%else%}
				id="line2"
			{% endif %}
			>
				 <td>{{fiscalproduct.type }}</td>
				 <td>{{fiscalproduct.references }}</td>
				 <td>{{fiscalproduct.number }}</td>
				 <td>{{fiscalproduct.company }}</td>
				 <td>{{fiscalproduct.startdate|date('d/m/Y') }}</td>
				 <td>{{fiscalproduct.enddate|date('d/m/Y') }}</td>
				 <td>{{fiscalproduct.notes }}</td>
				 <td>{{fiscalproduct.recurrentprimeamount }}</td>
				 <td>{{fiscalproduct.tauxinteret }}</td>
				 <td>{{fiscalproduct.garantee }}</td>
				 <td>{{fiscalproduct.description }}</td>
				 <td>{{fiscalproduct.paymentdate}}</td>
				 <td>{{fiscalproduct.reserve }}</td>
				 <td>{{fiscalproduct.reservedate|date('d/m/Y') }}</td>
				 <td><a href=" {{path('DeleteProduct',{'id':account.id,'product_id': fiscalproduct.id}) }}" onclick="return confirm('Etes vous sur ? ');"><img valign="middle"  src="{{ asset('bundles/guepecrmbank/images/icons/delete.png') }}" ></a></td>
			</tr>
		{% else %}
			<tr><td colspan="15" class="no_data">Aucune Produits Fiscal n'a été trouvé.</td></tr>
		{% endfor %}
		</table>
		<h2>Produits Epargnes <a href="{{ path('savingsproduct_create',{'account_id': account.id}) }}"><img valign="middle" src="{{ asset('bundles/guepecrmbank/images/icons/add.png') }}" ></a></h2>
		<table class="product-show-table">
			<tr class="product-show-label">
				<th>Type:</th>
				<th>Prime:</th> 
				<th>Références:</th> 
				<th>Numéro de compte:</th> 
				<th>Organisme: </th> 
				<th>Montant: </th> 
				<th>Date de début: </th>
				<th>Date de fin: </th>
				<th>Notes: </th>
				<th>Capital à terme: </th>
				<th>Taux d'intérêt: </th> 
				<th>Durée: </th> 
				<th>Garantie: </th>
				<th>Description:  </th> 
				<th>Date de paiement: </th> 
				<th>Reserve:  </th>
				<th>Date de réserve: </th> 
				<th></th>
			</tr>
		{% for savingsproduct in account.savingsproduct %}
			<tr
			{% if loop.index % 2 %} 
				id="line1"				
			{%else%}
				id="line2"
			{% endif %}
			>
			 <td>{{savingsproduct.type }}</td>
 			 <td>{{savingsproduct.primerecurence }}</td>
			 <td>{{savingsproduct.references }}</td>
			 <td>{{savingsproduct.number }}</td>
			 <td>{{savingsproduct.company }}</td>
			 <td>{{savingsproduct.amount }}</td>
			 <td>{{savingsproduct.startdate|date('d/m/Y') }}</td>
			 <td>{{savingsproduct.enddate|date('d/m/Y') }}</td>
			 <td>{{savingsproduct.notes }}</td>
			 <td>{{savingsproduct.capitalterme }}</td>
			 <td>{{savingsproduct.tauxinteret }}</td>
			 <td>{{savingsproduct.duration }}</td>
			 <td>{{savingsproduct.garantee }}</td>
			 <td>{{savingsproduct.description }}</td>
			 <td>{{savingsproduct.paymentdate }}</td>
			 <td>{{savingsproduct.reserve }}</td>
			 <td>{{savingsproduct.reservedate|date('d/m/Y') }}</td>
			<td><a href=" {{path('DeleteProduct',{'id':account.id,'product_id': savingsproduct.id}) }}" onclick="return confirm('Etes vous sur ? ');"><img valign="middle"  src="{{ asset('bundles/guepecrmbank/images/icons/delete.png') }}" ></a></td>

			</tr>
		{% else %}
			<tr><td colspan="17" class="no_data">Aucune Produits de Placement n'a été trouvé.</td></tr>
		{% endfor %}
		</table>
		</div>

		</div>
{% endif %}	
{% endblock %}


