{% extends 'GuepeCrmBankBundle::layout.html.twig' %}

{% block title %}Edit/add des account{% endblock %}
		
{% block warning %}
	{% if message %}
		<div class="warning">{{ message }}</div>
	{% endif %}
{% 	endblock %}

{% block content %}

<script>
	$(function() {
		$( "#accountdetail" ).accordion({
			collapsible: true,
			icons: false		
		});
	});
	
	
	jQuery(document).ready(function(){
	$('#accordion h2').click(function() {
		$(this).next().toggle('fast');
		return false;
	}).next().hide();
	});
	
</script>


{% if account|length > 0 %}		
		<div id="showaccount"> 
		<div class="headblock-element">
		<h1>{{account.name}}<a href="{{ path('EditAccount',{'id': account.id}) }}"><img valign="middle"  src="{{ asset('bundles/guepecrmbank/images/icons/edit.png') }}" ></a></h1>

		<br/> {{account.type}} {{account.companyStatut}} {{ account.startingdate|date('d/m/Y') }}
		<br/> {{account.notes}}
		</div>
		<br/>
		<div id="accordion">

		<h2>Contacts </h2>
		<div>
		<ul> 
		{% for contact in account.contacts %}
			<li
			{% if loop.index % 2 %} 
				id="line1"	
			{%else%}
				id="line2"
			{% endif %}
			>{{contact.firstname}} {{contact.lastname}} <a href=" {{path('ShowContact',{'id': contact.id}) }}"><img valign="middle"  src="{{ asset('bundles/guepecrmbank/images/icons/show.png') }}" ></a>
			<a href=" {{path('DeleteContact',{'id':account.id,'contact_id': contact.id}) }}"><img valign="middle"  src="{{ asset('bundles/guepecrmbank/images/icons/delete.png') }}" ></a></li>
		{% else %}
			<p>Aucune contacts n'a été trouvé.</p>
		{% endfor %}
		</ul>
		</div>
		<h2>Produits Banquaires</h2>
		<div>
		<ul>
		{% for bankproduct in account.bankproduct %}
			<li
			{% if loop.index % 2 %} 
				id="line1"				
			{%else%}
				id="line2"
			{% endif %}
			>{{bankproduct.name}} {{bankproduct.type}}</li>
		{% else %}
			<p>Aucune bankproduct n'a été trouvée.</p>
		{% endfor %}
		</ul>
		</div>
		<h2>Produits Crédit</h2>
		<div>
		<ul>
		{% for creditproduct in account.creditproduct %}
			<li>{{creditproduct.name}} {{creditproduct.type}}</li>
		{% else %}
			<p>Aucune creditproduct n'a été trouvée.</p>
		{% endfor %}
		</ul>
		</div>
		<h2>Produits Fiscal</h2>
		<div>
		<ul>
		{% for fiscalproduct in account.fiscalproduct %}
			<li>{{fiscalproduct.name}} {{fiscalproduct.type}}</li>
		{% else %}
			<p>Aucune fiscalproduct n'a été trouvée.</p>
		{% endfor %}
		</ul>
		</div>
		<h2>Produits Epargnes</h2>
		<div>
		<ul>
		{% for savingsproduct in account.savingsproduct %}
			<li>{{savingsproduct.name}} {{savingsproduct.type}}</li>
		{% else %}
			<p>Aucune savingsproduct n'a été trouvée.</p>
		{% endfor %}
		</ul>
		</div>
		</div>

		</div>
{% endif %}	
{% endblock %}


